[2014-06-17 05:19] EddyVerbruggen opened #1 "Allow custom button colors"
Should be possible [according to this post](http://stackoverflow.com/questions/24137443/objective-c-uiactionsheet-custom-button-color/24163367#24163367)

[2014-06-17 18:40] EddyVerbruggen opened #2 "Add Android support"

[2014-07-28 21:42] bpappin opened #3 "invalid package name"
I happen to be working on writing an android component for this plugin.
The package nl.x-services.plugins.actionsheet is actually invalid for android, so my pull request is eventually going to have to change.

[2014-08-08 21:49] #2 closed, assigned to nobody

[2014-08-08 21:49] #3 closed, assigned to nobody

[2014-08-19 15:25] bau720123 opened #5 "some issue feedback to you"
hi @EddyVerbruggen
I am using PGB 3.5 and your latest plugin 1.0.0 (Android 4.0.3 and ios 7.1.2)
I have some issue and suggestion by in version 1.0.0

I can set "androidEnableCancelButton" to true (show) or false (hidden) and set the label value by another attribute "addCancelButtonWithLabel"
well...

one
is it possible set a new attribute "iosEnableCancelButton" to do the same thing like android

[2014-08-27 21:38] brianglick opened #6 "Next touch disrupted in iOS after the action sheet is closed?"
First off, huge thanks to Eddy for the action sheet plugin. So happy to have this.

My issue: For some reason, the first touch the user makes once the action sheet closes doesn't seem to be registered by my app (as far as I can tell). But the second (and all future taps) are fine.

I'm using Cordova 3.4.1-0.1.1-dev, with an app built largely in AngularJS. I'm bringing up the action sheet after a u

[2014-09-05 21:13] #6 closed, assigned to EddyVerbruggen

[2014-09-26 18:17] bau720123 opened #7 "[Maybe a problem] about the status bar"
hi @EddyVerbruggen
according to this
https://raw.githubusercontent.com/EddyVerbruggen/cordova-plugin-actionsheet/6fafd99c4d21d430814ef582a0fb888cdf3c48d3/screenshots/wp8/wp8-share.jpg
WP8 work great ~

but look at my screenshot，it work great too，but...
http://www.littlebau.com/statuswin.png
because I use the "Status Bar" plugin to hidden the system bar
https://build.phonegap.com/plugins/505
the al

[2014-09-26 18:31] bau720123 opened #8 "there is no "iosEnableCancelButton" attribute to set ?"
hi @EddyVerbruggen
I am using your latest plugin 1.1.1
according to this
https://raw.githubusercontent.com/EddyVerbruggen/cordova-plugin-actionsheet/6fafd99c4d21d430814ef582a0fb888cdf3c48d3/screenshots/ios/ios-share.png
the ios can show the "Cancel" button，but I tried many times， "Cancel" button still not appear (Android and winphone are work well)

so I notice that in the document，there is no suc

[2014-09-27 10:44] #8 closed, assigned to nobody

[2014-09-27 19:45] Beagle25 opened #9 "Return the selected button value along with the button index"
Could you please alter the show() callback to return both the selected button value and button index?

This would help out tremendously when dealing with dynamically generated action sheets.

Thank you!

[2014-10-30 20:26] Hirbod opened #10 "use a background thread"
My Cordova log is yelling all the time. Maybe it is not really necessary but could you use a background thread when calling the action sheet?

[2014-11-09 06:53] camdagr8 opened #11 "Actionsheet + Camera"
This plugin seems to break the cordova camera plugin in Cordova v. 3.6.3 - ios8.
I get the following errors when calling the camera after making a selection in the action sheet:

`Snapshotting a view that has not been rendered results in an empty snapshot. Ensure your view has been rendered at least once before snapshotting or snapshot after screen updates.
Nov  9 01:52:02 Cams-iPhone Mid-Pacific[

[2014-11-09 16:58] #11 closed, assigned to nobody

[2014-12-09 21:35] BenAtStatement1 opened #12 "unable to build actionsheet plugin with Phonegap build"
PGB IOS build failed with this msg:
    unable to create app: plugin unsupported: nl.x‐services.plugins.actionsheet.

Only change I made to my app was to add
`
<gap:plugin name="nl.x‐services.plugins.actionsheet" />
`
to config.xml.
My index.html file has the usual reference to phonegap.js
`
 <script src="phonegap.js"></script>
`

[2014-12-10 16:24] #12 closed, assigned to nobody

[2015-01-31 14:13] rodrigoplant opened #13 "WhatsApp?"
Hello,

Any chance of including the WhatsApp share option on the menu?

Thanks.

[2015-01-31 14:16] EddyVerbruggen commented on #13
I'm guessing you're posting this in the wrong repo :)

If you meant adding it to SocialSharing, then my reply is: once whatsapp adds an iOS 8 extension it will automatically be added to the sheet.

[2015-02-02 17:07] #13 closed

[2015-02-07 11:55] bau720123 commented on #7
hi @EddyVerbruggen
just want to ask
is there anything update ?

[2015-02-07 12:30] EddyVerbruggen commented on #7
No sorry - my attention is currently required for other (non digital) issues.

[2015-02-07 13:58] bau720123 commented on #7
OK
thanks @EddyVerbruggen

[2015-02-11 09:39] JcDenton86 opened #14 "Theming the dialog"
Hi, Android dialog can also be themed either with predefined themes (http://developer.android.com/reference/android/app/AlertDialog.html) or by creating a custom xml theme. I am using this plugin and changed it to accept one more int option so to choose the theme too.
Maybe this should be added as a default in the plugin, because the alert dialog that is shown does  not follow the new design of th

[2015-02-17 17:05] fernandopg commented on #9
+1 Can it be done now? Thanks!

[2015-02-17 17:30] EddyVerbruggen commented on #9
I'm not sure why you need it exactly - you should be able to track the indexes and values in javascript as well.

Also, adding the value to the callback would break current usage.

[2015-02-17 19:38] fernandopg commented on #9
It helps you when you create the action sheets dynamically and you don't know how much options you have nor the index for each option.

Another option could be if you can assign manually the index number for each option!

[2015-02-17 19:57] EddyVerbruggen commented on #9
Can you show me an example of a dynamically created actionsheet where it's not possible to remember which item was added in which order?

[2015-02-17 20:47] fernandopg commented on #9
Of course @EddyVerbruggen , here I have an example with a user that can do different things if is owner of the table or not, and depends of a table status also. I don't say that it is impossible to know the order in case of dynamic created actionsheet but I think that helps you a lot if you can read the button value or if each option has a defined index and the order doesn't matter.

    var butto

[2015-02-18 15:30] thco commented on #14
Totally agree, it looks like very old on Lollipop devices ... +1 for this !

[2015-02-19 14:37] EddyVerbruggen commented on #14
Hi guys, I've implemented this feature in 1.1.2, please check it out!
The default is still what it was, but [you can override it](https://github.com/EddyVerbruggen/cordova-plugin-actionsheet/blob/master/demo/index.html#L37).

Thanks,
Eddy

[2015-02-19 14:59] thco commented on #14
Seems to be awesome :) nice feature ! Thanks.

[2015-02-19 15:05] EddyVerbruggen commented on #14
:+1:

[2015-02-19 15:05] #14 closed

[2015-02-19 15:22] thco commented on #14
Great. Thank you.

[2015-02-19 17:44] JcDenton86 commented on #14
:+1:

[2015-02-27 17:31] alxpereira opened #15 "Deprecations in ActionSheet.m"
Hi,
It looks like there's some deprecated methods (since Cordova 3.6) used in the iOS ActionSheet file.
This doesn't affect the fonctionnality, but it could be nice to use the latest methods to be sure that Cordova updates won't break your cool plugin.

![screen shot 2015-02-27 at 18 29 34](https://cloud.githubusercontent.com/assets/447895/6417618/d10c3ce2-beae-11e4-8dde-ba14bd0e64ed.png)

[2015-02-27 18:57] EddyVerbruggen commented on #15
Thanks for noticing, they're gone now!

Best,
Eddy

[2015-02-27 18:57] #15 closed

[2015-02-27 20:51] EddyVerbruggen commented on #10
The log will no longer contain the warning with v 1.1.3.

[2015-02-27 20:51] #10 closed

[2015-03-03 06:51] skharpreet opened #16 "Action sheet menu is not aligned in center when orientation changes on ipad"
The action sheet menu is not aligned in center in iPad 3 when we change the orientation from portrait to landscape or vice versa.
Attached are the screen shots for reference.

![img_0431](https://cloud.githubusercontent.com/assets/5449508/6457668/3217894a-c19f-11e4-9b1a-6d2f84167cb3.PNG)
![img_0433](https://cloud.githubusercontent.com/assets/5449508/6457667/3215f7b0-c19f-11e4-975e-37b526ca97a5.PNG

[2015-03-04 06:01] Vinoth18 commented on #16
+1
Or it is good if we have the hide method, so internally we can call the hide method on orientation change.

[2015-03-04 08:57] EddyVerbruggen commented on #16
Just to be sure: this happens only when rotating the device while the actionsheet is being displayed, right?

[2015-03-04 10:59] skharpreet commented on #16
Yeah. thats true, it happens when the orientation is changed while the action sheet is displayed.

Firstly this should be fixed but as a workaround I was thinking to close the menu when the orientation changes, but there is no close/hide method in the plugin. I am a kind of stuck at this point.

[2015-03-04 11:39] EddyVerbruggen commented on #16
Hi, @skharpreet and @Vinoth18 please test the 1.1.4 release of this plugin, it has a working `hide()` function for iOS.

[2015-03-04 14:58] Vinoth18 commented on #16
Thanks @EddyVerbruggen , hide is working.

[2015-03-13 16:59] #5 closed

[2015-03-13 17:15] bau720123 opened #17 ""1.1.4" version have some question want to ask"
I am using PGB 3.7 with 1.1.4 version plugin
these are my sample code
[code]

according to the latest document
http://plugins.cordova.io/#/package/nl.x-services.plugins.actionsheet

[question 1]
it said
[code]
but in fact，it should be modify to this
[code]

[question 2]
when I trigger "checkActionSheet" function
it will also trigger ```window.plugins.actionsheet.hide({}, onSuccess, onError);``` af

[2015-03-13 19:58] EddyVerbruggen commented on #17
Those theme constants should work as shown in the example. They refer to [these lines](https://github.com/EddyVerbruggen/cordova-plugin-actionsheet/blob/master/www/ActionSheet.js#L12-L18)

[2015-03-14 11:35] bau720123 commented on #17
hi @EddyVerbruggen
thanks for your reply
but I really try many times in PGB
for example like that

[not work]
[code]
but in fact，it should be modify to this

[work]
[code]

so...what's the detail with [question 2] and [question 3]

[2015-03-18 17:27] djett41 opened #18 "Android Lolipop style action sheet?"
Hello! great plugin.  Will the action sheet always reflect the OS design for previous, current, and future releases?

for example, the action sheet is no longer an inset popup for Lolipop and looks like the following.. Will this new UI design require an update to this plugin?  Or will running the plugin at its current version look like the design below?

http://www.google.com/design/spec/component

[2015-03-18 18:46] EddyVerbruggen commented on #18
Hi,

I don't think the 'Bottom sheet' is the same as the 'AlertDialog' the plugin currently uses for Android. You can make sure that the AlertDialog is properly styled by passing in the correct 'theme' ([I recently added this option](#14)).

To really support the new Bottom sheet the plugin would need an update indeed, but it's not planned at the moment.

Best,
Eddy

[2015-03-18 18:46] #18 closed

[2015-03-18 19:32] djett41 commented on #18
Thanks for the quick response!  Exactly what I was looking for.  thnaks

[2015-03-24 10:58] chemerisuk opened #19 "Cache actionsheet instance"
Hi @EddyVerbruggen. I noticed that for long list of items showing the menu might have a noticable delay. Is is possible to cache an actionsheet instance in memory to improve performance? If yes, how it can be applied to API?

[2015-03-30 15:15] EddyVerbruggen commented on #19
Hi, on which platform are you seeing this issue, and how many items are you showing?
Perhaps you can share even a bit of code?

Thx,
Eddy

[2015-03-30 15:47] chemerisuk commented on #19
Hi @EddyVerbruggen. It has delay on both platforms, but the most noticeable is on iOS (because of animation I guess).

Below is the config object I pass into `actionsheet.show` (strings are not in english, sorry):

[code]

[2015-03-30 17:55] EddyVerbruggen commented on #19
Holy cow!

I'm not sure an ActionSheet is meant for that many elements.. it's even discouraged by [Apple's guidelines](https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/Alerts.html) (Users shouldn't need to scroll in ActionSheets).

Perhaps you're better off using a picker instead?

[2015-03-30 20:00] stackdevdev14 opened #20 "Prevent orientation switch"
I have my application locked to portrait for iOS however, when I turn the Device in landscape with the scion sheet opened, it switches to landscape when I only want it to stay in portrait mode even if the device is in landscape. I don't want to hide th action sheet, I just want to lock the orientation

[2015-03-30 20:03] EddyVerbruggen commented on #20
So your app can't rotate to landscape unless it's showing an ActionSheet?

[2015-03-30 20:14] stackdevdev14 commented on #20
I have my app set to only display in portrait. I don't want the action sheet to rotate to landscape. I want it to remain in portrait.

[2015-04-01 12:20] chemerisuk commented on #19
Thanks for feedback @EddyVerbruggen. The problem with picker is that it's a full screen menu (unlike on Android). And I haven't found any issue with accidental taps on items in my case...

Anyway, if Apple doesn't recommend to use long lists for such control - I should close this issue probably.

[2015-04-01 12:20] #19 closed

[2015-04-01 12:44] EddyVerbruggen commented on #19
Note that I did try to provide a cached version as you suggested but it only helped about 20% or so. As it seems the problem is not building the list but drawing it. A long list like this needs a scroll-wrapper which seems to be the thing causing the performance penalty.

[2015-04-01 12:49] chemerisuk commented on #19
@EddyVerbruggen

May be you could provide an option to disable animation? It will be displayed faster without it.

[2015-04-01 14:19] EddyVerbruggen commented on #19
If you control the native code, you could try it by changing [this line](https://github.com/EddyVerbruggen/cordova-plugin-actionsheet/blob/master/src/ios/ActionSheet.m#L35) to:

[code]

[2015-04-01 20:59] chemerisuk commented on #19
@EddyVerbruggen thanks, I'll try it!

[2015-04-09 04:41] Vinoth18 commented on #20
+1

[2015-05-15 13:28] laicosly opened #22 "Android 5.1 cordova.exec not called"
On iOS this plugin is working correctly, but on Android 5.1 the callback is not executed until a second user interaction.  It sounds similar to the issue described on this plugin:  https://github.com/wildabeast/BarcodeScanner/issues/107

I am using cordova 3.5

[2015-05-15 14:07] laicosly commented on #22
looks like an issue with cordova 3.5

https://issues.apache.org/jira/browse/CB-6761

[2015-05-15 14:07] #22 closed

[2015-06-03 10:49] napolitano commented on #16
Hi, i would celebrate a working fix for the still existing issue. Currently it is possible to hide the sheet on orientation change or resize, but because it seem to work properly on android you must make a decision: Have different behavior or degrade user experience for android.

Are there any news related to this bug? Is a fix still work in progress or is it currently unfixable?

[2015-06-03 10:57] EddyVerbruggen commented on #16
Hi @napolitano why would you degrade experience on Android if you can hide it for iOS only?

And I'm not working on a fix currently (perhaps someone else is?) as I don't have to for it atm...

[2015-06-03 11:02] napolitano commented on #16
Hi @EddyVerbruggen. Thank you for the surprisingly quick response.  It's simply, because i prefer consistent behavior across platforms if possible ;) In this case we'll do what's suggested: Hide it on resize/orientation change only for iOS.

I can really live with the hide()-workaround, but it would be great if there will be a fix. Will see if i can do something. If yes, i will send a pull request

[2015-06-03 11:05] EddyVerbruggen commented on #16
That would be awesome @napolitano, in any case: good luck with your app!

[2015-06-10 19:37] ch-weiss opened #24 "Use a Android Action Bar with Actions Buttons instead of an Alert Dialog"
Hi, first of all I thing it is a great idea to provide a plugin like this. If you make it more Android style guide like it would be perfect:
http://developer.android.com/design/patterns/actionbar.html

In this case this would mean to use a Android Action Bar with Actions Buttons instead of Alert Dialog. I know it is very challenging to transfer certain principles from one style guide to another, e

[2015-06-27 16:32] bau720123 commented on #7
hi @EddyVerbruggen
never mind
just feedback the 1.1.7 version in "plugins.cordova.io" still have this problem

[2015-06-27 16:39] bau720123 commented on #17
hi @EddyVerbruggen
problem solved in 1.1.7 version
thanks

[2015-06-27 16:39] #17 closed

[2015-07-20 10:30] filfat opened #25 "Support the new "Windows" platform (UWP)"
With the launch of Windows 10 the new universal platform called UWP or simply "Windows".
It would be awesome if this plugin could support that platform.

[2015-10-09 12:16] patuku-roy opened #26 "Conflict when using with keyboard shrinkView plugin"
@EddyVerbruggen I'm using this plugin along with keyboard shrinkView plugin, I have page with 2 buttons which is trigger the action sheet and the other trigger the shrinkView through input focus after we click the button.

If I'm click the action sheet button and cancel it, then click another button and programatically put the focus on the input. All keyboard shrinkView events didn't trigger at al

[2015-10-09 13:35] patuku-roy commented on #26
Forgot to mention, I'm using Cordova 5.1.1 and iOS 8.4.1

[2015-10-13 06:20] TeffenEllis opened #27 "Actionsheet breaks virtual keyboard."
Given an iOS app with a text input, tap the input. The virtual keyboard appears.

If an actionsheet is opened, all inputs will require two taps, one to focus and another to make the virtual keyboard appear. This behavior will persist until the app is restarted.

I've observed this bug on iOS 8 and 9.

Thank you!

[2015-10-13 10:18] patuku-roy commented on #27
Almost the same problem with #26 ... actionsheet breaks virtual keyboard events

[2015-10-13 15:42] EddyVerbruggen commented on #26
@patuku-roy Is this on iPad or iPhone?

[2015-10-13 15:43] EddyVerbruggen commented on #27
@TeffenEllis is it possible to create a little sample project replicating this? I'd love to investigate it but I can't reproduce it with my iPhone6S nor virtual iPad2 running iOS8 and 9.

[2015-10-13 15:47] patuku-roy commented on #26
@EddyVerbruggen iPhone 5 and iOS 8.4.1

[2015-10-13 15:49] EddyVerbruggen commented on #26
Can you post a link to the plugin as well? Or better: a demo app reproducing the issue?

[2015-10-14 06:29] TeffenEllis commented on #27
I believe I've found the root of the issue. A combination of the actionsheet plugin and the TapToScroll plugin result in all inputs requiring two taps.

1. Clone `https://github.com/TeffenEllis/cordova-actionsheet-test`

[code]

2. Open Xcode, build project. Tap an input once, keyboard appears. Tap "Open actionsheet", tap any choice, dismiss alert. Tap input again, keyboard does not appear.

I apo

[2015-10-14 11:10] patuku-roy commented on #26
@EddyVerbruggen Okay this is my pseudo code:

[code]

I think no special algorithm inside that code, except I have similar condition like #27  ... I have status bar plugin ... probably this is the the culprit

[2015-10-21 08:35] patuku-roy commented on #27
@EddyVerbruggen @TeffenEllis any luck?

[2015-12-04 20:40] robrothedev opened #31 "Works in emulator but not on iPhone via Ionic View App"
Using $cordovaActionSheet in my app and when I build and emulate it works without a hitch, however, when I try to use it in the Ionic View App, it will not work.  Any ideas?

[2015-12-04 23:07] EddyVerbruggen commented on #31
Yeah, View doesn't support a lot of plugins. So try with a standalone app instead please.

[2015-12-04 23:07] #31 closed

[2015-12-09 07:30] JochenTester opened #32 "No Popup on WP8.1"
I debugged several hours, but i cant find the solution... please help...

VS Settings: Debug - Windows Phone (Universal) - Emulator8.1

What could i find out:
- after deviceReady
- window.plugins.actionsheet.show - is called
- ActionSheetProxy.js -> ActionSheet.prototype.show - is called to
- But i cant see any PopUp (on WP8.1 - but Android works very well)

To validate, I started with a new super

[2015-12-09 21:18] EddyVerbruggen commented on #27
Sorry never found the time. @TeffenEllis thanks for the excellent demo app!

I was able to confirm the issue on iOS 8.4 (simulator), and also saw it is fixed on 9.2 (both Simulator and Device).

I also noticed that if you don't `alert` the selected actionsheet option the keyboard may appear again after two taps. The webview doesn't scroll up though.

Since this plugin doesn't use any special iOS t

[2015-12-09 21:18] #27 closed

[2016-01-14 03:05] oguzgelal opened #33 "Crashes the app on iOS after cordova update"
Hello.

I have been using this plugin, however after I do a little update on cordova, ionic-cli, ionic platform, other plugins etc. (not sure which one is causes it), it started to crash the app on ios.

When action sheet code gets executed, the app freezes. After running the app on iOS, I realised that it seems to enter an infinite loop (see image below).

![screen shot 2016-01-14 at 05 04 06 2](

[2016-01-14 07:26] EddyVerbruggen commented on #33
So you think it may be a combination of the things your app uses? That may be the case, so can you please share that Xcode project with us? Or at least a stripped version which reproduces this crash. Thx!

[2016-01-14 13:38] oguzgelal commented on #33
I'm not authorised to share any codes of the project. However, I can do this:

[code]

App crashes on iPhone 5 - iOS 9.2 (Also on  emulator with iOS 9.2)

[2016-01-14 13:49] EddyVerbruggen commented on #33
I see, can you create a new app with those plugins and a button which recreates the issue?

[2016-01-14 13:51] oguzgelal commented on #33
Okay I'll do it. I'll ping here when its ready. Thanks!

[2016-01-19 10:05] seriva commented on #32
Any update on this issue? I`m running into the same problem.

[2016-01-24 09:05] aks0020 commented on #33
:+1: same here crashed on fresh ionic project with latest cordova

[2016-01-24 09:25] EddyVerbruggen commented on #33
@aks0020 does it also crash on a fresh non-ionic project?

[2016-01-24 09:37] aks0020 commented on #33
@EddyVerbruggen actually it works `cordova-plugin-app-event` was causing issue on swizzled_plugin init. Sorry.

[2016-01-29 10:24] #33 closed

[2016-02-09 09:20] Pavel-Durov commented on #32
You see, the wp8 folder (which is your platform) works with C# code implementation, you are talking about javascript code which is writen for windows (UWP) platform - you can allways change your platformId (moke it) to use the UWP implementation. Tell me if I got it right

[2016-02-15 22:34] Randgalt opened #35 "Unicode characters not working"
Spanish characters are getting corrupted.

[code]

<img width="316" alt="screen shot 2016-02-15 at 5 33 56 pm" src="https://cloud.githubusercontent.com/assets/264818/13062152/62aa1180-d40a-11e5-9850-bd3abf8ca9db.png">

[2016-02-15 22:35] Randgalt commented on #35
Note: this is the iOS emulator. I haven't tried Android.

[2016-02-16 09:22] EddyVerbruggen commented on #35
Hi, thanks for the details! Indeed it didn't look good on iOS. Did you check Android as well? If you find an issue there please let me know.

Version 2.2.1 is now available, and it renders fine:

![img_6345](https://cloud.githubusercontent.com/assets/1426370/13071966/14976de8-d497-11e5-9d2e-494bdc0eae0d.PNG)

[2016-02-16 09:22] #35 closed

[2016-02-16 14:08] KODerFunk opened #36 "Crash when use cyrillic (non-latin) title"
Crash in `encodeString` https://github.com/EddyVerbruggen/cordova-plugin-actionsheet/blob/master/src/ios/ActionSheet.m#L67

Fix in project localy by change `NSISOLatin1StringEncoding` => `NSUTF8StringEncoding` in `cStringUsingEncoding` call.

Used title: `Откуда взять фото?`

[2016-02-16 15:45] EddyVerbruggen commented on #36
Interesting - if I use that I don't get `Откуда взять фото?` but an encoded version.. I had to change this for #35, but indeed yours crashes. Any ideas?

[2016-02-16 17:54] KODerFunk commented on #36
Try spain words with my trick (without `NSISOLatin1StringEncoding`). If it work — it must be fixed!)

[2016-02-16 18:01] EddyVerbruggen commented on #36
I did but it didn't work for me. Perphaps I have the syntax wrong?

[2016-02-16 18:05] KODerFunk commented on #36
Can it been auto-tested?

[2016-02-16 18:18] EddyVerbruggen commented on #36
I'm simply trying it like this:

[code]

And the result with
[code]
(which is the same as not encoding it at all) is:
<img width="374" alt="screen shot 2016-02-16 at 19 15 53" src="https://cloud.githubusercontent.com/assets/1426370/13086075/c8e0451e-d4e1-11e5-8177-48188a831579.png">

Do you see a similar result?

I'm going to roll my last change back so your case works again, but Spanish will brea

[2016-02-17 12:21] KODerFunk commented on #36
I try use your options in my app http://take.ms/NduTs with my dirty-fix:

![my UTF8-trick](https://api.monosnap.com/rpc/file/download?id=0FIPmkv0UDPIIwSfaan2rf7ee0KQTh)

Then I return [`NSISOLatin1StringEncoding`](http://take.ms/PnkWV), `cordova run ios ...`, `tap..tap...tap`, crash! Crashshot: http://take.ms/oNPsj

Could this be due to the fact that all my sources utf8-encoded and `<meta charset=

[2016-02-17 12:34] EddyVerbruggen commented on #36
Ha, that's it!

You just need to add `<meta charset="utf-8" />` meta tag and all encoding is just fine. So the 2.2.2 release should work fine for you with that tag added, thanks for the pointer!

[2016-02-17 12:34] #36 closed

[2016-02-17 12:42] EddyVerbruggen commented on #35
So in the end it turns out you just need to add this to your index.html:

[code]

Then you don't need to encode anyhting and mix spanish, cyrillic, whatnot just nicely.

[2016-02-17 12:57] KODerFunk commented on #36
Thank You, Eddy!

[2016-02-19 19:05] martinjbaker commented on #36
Not working for me with 2.2.2. I have `<meta charset="utf-8" />` in index.html and any non-ASCII characters in buttonLabels are crashing the app. I have bullet points to denote which option is currently active.

    buttonLabels: ['Closing Date', '• Average Critic Rating •']

[2016-02-19 19:27] EddyVerbruggen commented on #36
@martinjbaker Works fine on my sim and device (see screenshot).

Can you try removing the iOS platform and adding it again, same for the plugin? And make sure the html/js files are UTF-8 encoded as well.

<img width="374" alt="screen shot 2016-02-19 at 20 25 47" src="https://cloud.githubusercontent.com/assets/1426370/13186571/15a331ce-d747-11e5-9b67-aa884b6080ec.png">

[2016-02-20 10:12] martinjbaker commented on #36
Yep that fixed it, thanks.

[2016-03-07 10:31] srameshr commented on #14
[code]
This still gives me the same old holo them action, even though I am running on Lollipop.

[2016-03-07 10:32] EddyVerbruggen commented on #14
Just to be sure: if you do `alert('theme: ' + window.plugins.actionsheet.ANDROID_THEMES.THEME_DEVICE_DEFAULT_LIGHT) does it resolve correctly?

[2016-03-07 10:42] srameshr commented on #14
Yes it does.
Here is my options object:
[code]

[2016-03-12 12:35] EddyVerbruggen commented on #14
I get three different style when:

1. not passing in androidTheme
2. using window.plugins.actionsheet.ANDROID_THEMES.THEME_HOLO_LIGHT
3. window.plugins.actionsheet.ANDROID_THEMES.THEME_DEVICE_DEFAULT_LIGHT

The only thing I can think of is you're trying to resolve the variable before `deviceready` fires. Does it change if you pass in the numbers 1 through 5 instead, where 5 is the one you were try

[2016-03-12 13:37] srameshr commented on #14
I am invoking it inside of device ready. Tried that too. Does not seem to be working. Using numbers for androidTheme has no effect. 5 which I am using for a datePicker shows up material design. But the action sheet is still on the holo theme.

[2016-03-12 13:59] EddyVerbruggen commented on #14
So using 1, 2 or 5 yields the same result? What plugin version do you use?

[2016-03-12 14:26] srameshr commented on #14
https://github.com/VitaliiBlagodir/cordova-plugin-datepicker
This is the date picker plugin that I am using. When I set ```androidTheme``` value to ```5```, material design date picker shows up.

[2016-03-12 14:36] EddyVerbruggen commented on #14
Which plugin version?

[2016-03-13 07:12] srameshr commented on #14
Sorry, I did not understand that. I am just pulling the latest stable version from cordova.
```cordova plugin add plugin_package```

[2016-03-13 10:52] EddyVerbruggen commented on #14
@srameshr If you want any more assistance please send me your project at eddyverbruggen at gmail dot com.

[2016-03-13 11:04] srameshr commented on #14
@EddyVerbruggen Wow! Thanks for being so awesome!
 But I used a javascript UI widget to get the job done.
But once again thank you for asking :)

[2016-03-15 16:46] rayshan commented on #24
Is this still relevant in the post-Lollipop world?

[2016-03-15 16:54] rayshan commented on #18
FYI Android Support Library 23.2 introduced official support for Bottom Sheets: http://android-developers.blogspot.com/2016/02/android-support-library-232.html

[2016-03-15 18:04] ch-weiss commented on #24
Thank you for your answer. Indeed it gets less and less relevant with the time. Now in the material world it is not relevant anymore I think.

[2016-03-22 22:04] swaheed2 opened #37 "no callback on clicking 'Cancel'"
I need a callback on clicking 'Cancel' , is there a way?

[2016-03-22 22:06] swaheed2 commented on #37
sorry didn't realize its called on the last button index

[2016-03-22 22:06] #37 closed

[2016-04-04 07:47] linrenling opened #38 "When I use browser visit, notice exec proxy not found"
Error: exec proxy not found for :: ActionSheet :: show

[2016-05-03 14:17] mglmgl commented on #25
+1

[2016-06-02 18:21] EddyVerbruggen commented on #38
"Browser visit"? Do you mean you're testing this plugin in the browser? That's not possible..

[2016-06-02 18:21] #38 closed

[2016-07-07 12:43] tonijn commented on #25
+ 1

[2016-08-05 20:09] sjosen commented on #9
@fernandopg Have you figured out a way to deal with dynamic loaded labels? I have the exact same problem as you describe

[2016-09-07 13:03] Hirbod opened #40 "Position of destructive button"
Hi @EddyVerbruggen,

the destructive button is always on first position, even when added later to the options array. Is there any way to decide where to show it? Or at least to put it at bottom?

[2016-09-07 13:07] Hirbod commented on #40
Sorry, forgot to mention. It's on iOS

[2016-09-07 13:11] EddyVerbruggen commented on #40
According to [this SO answer](http://stackoverflow.com/questions/6353709/how-to-change-sequence-of-button-in-uiactionsheet-in-iphone) that should be possible. I hope to add a preference soon.

[2016-09-07 13:14] Hirbod commented on #40
This would be perfect. It would be awesome to also provide something like

destructiveButtonIndex = integer
or
destructiveButtonIndex = "first"; (default)
destructiveButtonIndex = "last";

This would save us time calculating the offset (just a nice to have, as ActionSheets usally dont have more then 3-5 items.

[2016-09-07 15:48] jraede opened #41 "2nd/3rd time using action sheet in iOS10 causes crash"
I've been able to reproduce this with 100% reliability. We're using Meteor on top of Cordova so that could be an issue as well.

To reproduce, just upgrade an app to iOS 10, put it on a device with iOS 10 (only happens on device, not simulator), and open/close an action sheet. Consistently on the 2nd/3rd time it crashes with no stack trace. This happens everywhere we use the plugin.

I added some

[2016-09-07 20:44] EddyVerbruggen commented on #40
I'm refactoring the iOS code as we speak because I'm using a class that's been deprecated since iOS8.. and with iOS10 on our doorstep I don't have an excuse not to move on. I will try to maintain backward compat with iOS7 and lower though.

Note that the appearance of the ActionSheet will not change for iOS, it's mostly an internal thingy in iOS' codebase.

@Hirbod I'll take that request into acco

[2016-09-08 07:45] #25 closed

[2016-09-08 07:45] #16 closed

[2016-09-08 07:53] EddyVerbruggen commented on #41
Hi, I wasn't able to reproduce this crash but I migrated to a newer framework class on iOS which might fix this issue. Available in 2.3.0.

Please reopen if that didn't help, but also make sure Meteor isn't the one to blame (test with a vanilla project as well).

[2016-09-08 07:53] #41 closed

[2016-09-08 07:53] EddyVerbruggen commented on #40
Available in 2.3.0 on all platforms. See the updated example in the readme (look for `destructiveButtonLast`).

[2016-09-08 07:53] #40 closed

[2016-09-08 11:12] Hirbod commented on #40
Wow.. this was, again, @EddyVerbruggen light speed development. Guess I will send some beer again.

[2016-09-08 11:18] EddyVerbruggen commented on #40
Good. My stock dried up in the meanwhile! Cheers mate 🍻

[2016-09-08 11:19] Hirbod commented on #40
@EddyVerbruggen while the combination with destructiveButtonLast works pretty good, single ActionSheets (with just one option) don't work anymore on 2.3.0. I don't even receive an error or something. I will try to find out if "destructiveButtonLast" is causing this or not.

[2016-09-08 11:20] Hirbod commented on #40
Identified the bug.

[code]

will return 2 as index, while it should be 1 (worked before updating to 2.3.0)

[2016-09-08 11:22] EddyVerbruggen commented on #40
OMG I didn't test that case. Let me do so (4 platforms to test really).

[2016-09-08 11:23] Hirbod commented on #40
Just tested on iOS. Will fire up Android now and tell you my results

[2016-09-08 11:27] EddyVerbruggen commented on #40
Seems like iOS is the only platform with the issue..

[2016-09-08 11:33] Hirbod commented on #40
Confirmed. Android is working as expected.

[2016-09-08 11:33] EddyVerbruggen commented on #40
2.3.0 is dead, long live 2.3.1, thanks for the quick test!

[2016-09-08 11:36] Hirbod commented on #40
Confirmed! it works! Thank you very much

[2016-09-14 23:21] k2p2-pge opened #43 "While using the app and open action sheet on IOS 10. App crashes."
Hi,

   On IOS 10, while using the app sometimes the app crashes while opening the Action sheet. Is this got fixed in latest version?

Thanks,
Krishna

[2016-09-14 23:30] #43 closed, assigned to nobody

[2016-09-15 03:15] krishnasarathi opened #44 "iPhone App is crashing few times when we use Action sheets on iOS 10"
Hi,

  iPhone App is crashing few times when we use Action sheets on iOS 10. Is this issue noticed earlier? If yes, when can we expect a fix for this.

Thanks,
Sarathi

[2016-09-15 07:01] EddyVerbruggen commented on #44
Are you using version 2.3.1? Does the same happen on 2.2.2?

[2016-09-16 17:27] krishnasarathi commented on #44
Hi,
  It's crashing on 2.2.2. I tested with 2.3.1. I don't see any crashes. Thanks for the fix.
Thanks,
Sarathi

[2016-09-16 17:27] #44 closed

[2016-09-19 16:10] rafaeluzzi opened #45 "issue on ios10 using the plugin on a native modal view"
First thanks for the awesome plugin.

Im having a problem when I use this plugin on a native modal view(im using appgyver steroids), actionsheet loads fine but when any button is pressed it just close the modal view. It works fine on webviews this issue is just happening on modal views and it was working fine on the previous version.

Any ideas?

[2016-09-19 16:29] EddyVerbruggen commented on #45
No idea really. I swapped implementations to a more modern framework (since version 2.3.1) but dismissing the actionsheet is done in a similar manner.

Is this reproducible without Appgyver?

[2016-09-19 17:58] rafaeluzzi commented on #45
can't reproduce without appgyver as steroids is the one providing the native modal view, seems like the dismisal method is also dismissing the parent view when this view is a modal view.

[2016-09-22 23:56] cdelafuente commented on #45
I ran into the same error when using an action sheet in a modal with Appgyver. I got around the issue by displaying the view using `supersonic.ui.layers.push()`.

[2016-09-30 22:38] chemerisuk commented on #45
Not sure if it's related or not... On iOS10 when user dismisses an actionsheet via tapping on a dark screen background (on iPad at least), the plugin stops working. Next show() calls do not work anymore.

[2016-10-03 12:42] eggnita opened #47 "Crash on IOS 10"
Is there any workaround to prevent the crash on ios 10 when the plugin is used 2/3 times in a row?

[2016-10-03 12:54] EddyVerbruggen commented on #47
Do you have a way to reproduce it with the latest version and a clean Cordova CLI project? If so pleases share it and I'll take a look.

[2016-10-03 13:21] eggnita commented on #47
It seems that I had a problem with the package upload it said version 2.3.1 but the code was from 2.2.2 ... really weird. But the problem was fixed after a complete removal of the plugin and a fresh install. I apologise for the non relevant issue reporting. Thank you for your quick reply. I will close this issue.

[2016-10-03 13:21] #47 closed

[2016-10-11 23:31] Reon90 opened #48 "winControl is undefined"
I got it in VS 2015 windows 10.

[2016-10-12 21:19] Reon90 commented on #48
Somebody can help me with it?

[2016-10-18 09:08] desarrollospyro commented on #48
I have the same error. Any update?

[2016-10-19 11:49] desarrollospyro commented on #48
You need to add **_UI.js_** file to the _index.html_
`<script src="https://cdnjs.cloudflare.com/ajax/libs/winjs/4.4.0/js/base.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/winjs/4.4.0/js/ui.js"></script>`

[2016-11-02 14:31] bash88 opened #49 "Center actionsheet on iPad"
Hi Eddy,

Great plugin.

Since updating to the latest version after the iOS10 bug mentioned in #41 the actionsheet opens in the top left corner on iPad, because I didn't set position values. Now I'd like the sheet to open in the middle of the screen, like before. How would I go about doing this, other than inputting pixel values for both orientations?

Regards,
Bas

[2016-11-03 00:57] northkode opened #50 "AutoReleasePool Crash on iOS10"
Not sure how to debug this... when launching the action sheet after a few times it crashes the app and the debugger goes to the autoreleasepool in main.m

I put it in a try catch but there is no error other then (llbl)
No out put or anything.

And it only happens when i go to to the action menu after a couple of times.

[2016-11-03 07:51] EddyVerbruggen commented on #50
Ugh that Xcode debugging experience is not the best in the world to say the least. I hope to find something, but I'll label this with 'help wanted' as well as it may be hard to figure out..

[2016-11-03 10:58] kahuna76 commented on #49
Yeah this is bugging me too - takes a lot of fiddling around with dynamically setting position when opening actionsheet and rotating etc. Is there a quick/easy workaround that opens it in middle as it did before ?

[2016-11-03 13:37] kahuna76 commented on #49
I am making progress - I can hide the arrow with:

`[popPresenter setPermittedArrowDirections:0];`

and I can make the left/top of the dialog go to the middle of the page with

`popPresenter.sourceRect = CGRectMake(CGRectGetMidX(self.webView.bounds), CGRectGetMidY(self.webView.bounds),0,0);`

but I want the middle of the dialog to be in the middle (duh) - So now I need to figure out how to get the

[2016-11-16 22:24] cengebretson commented on #50
I was getting something similar using 2.2.0 version of actionsheet. The best I got for debugging was enabling zombies during debug and I ended up with `[_UIAlertControllerShimPresenterWindow release]: message sent to deallocated instance`

Testing off the master branch though, I haven't hit on any crashes yet. 🙏

[2016-11-17 05:48] gitlovenotwar commented on #45
@chemerisuk I'm having the same problem. It crashes the app tapping outside. Also, callback buttons not even firing, after next show, it doesn't work anymore.

[2016-11-17 06:09] gitlovenotwar opened #51 "callbacks not firing (bug)"
app crashes on ios 10 when tapping outside, clicking on any buttons fires nothing

[2016-11-21 12:46] EddyVerbruggen commented on #45
Tried again with a host of sims and devices (iPad and iPhone) and everything was fine with my vanilla Cordova CLI testapp.

Closing this, but if one of you is able to come up with a very simple vanilla testcase then please reopen and link to the download.

[2016-11-21 12:46] #45 closed

[2016-11-24 11:44] jeroenv opened #52 "Disable shadow style on iPad"
Is it possible to disable the shadow style that is shown around the actionsheet on iPad? Looks a bit odd, I would prefer that the entire screen is blocked out.

**Current style:**
![current-style](https://cloud.githubusercontent.com/assets/717935/20597404/b5661244-b243-11e6-9de8-fab33a63a7d3.png)

**Improvement:**
![better-style](https://cloud.githubusercontent.com/assets/717935/20597379/94e271f2-

[2016-12-05 06:55] dotnetdreamer opened #53 "We are using this plugin for Arabic text. But there is no RTL support ?"

[2016-12-23 12:16] geshub commented on #49
Is there a way to center actionsheet on iPad without changing the source code of the plugin ?

[2016-12-31 12:16] geshub commented on #49
@kahuna76 Your solution worked perfectly for me, could someone integrate it in the plugin ?

[2017-01-01 18:29] EddyVerbruggen commented on #49
Great, published in 2.3.2

[2017-01-01 18:29] #49 closed

[2017-01-02 16:12] geshub commented on #49
@EddyVerbruggen Hi, just tested 2.3.2, can't find the actual centering code in the changes ?

[2017-01-02 16:13] EddyVerbruggen commented on #49
OMG, too much 🍾 .. hang on

[2017-01-02 16:20] EddyVerbruggen commented on #49
Version 2.3.3 is a more sober version of 2.3.2. @geshub thanks for letting me know!

[2017-01-02 16:32] geshub commented on #49
@EddyVerbruggen Tested and worked perfectly. Thanks again !

[2017-03-10 02:51] brodybits opened #54 "Better Android ActionSheet?"
I discovered https://github.com/baoyongzhang/android-ActionSheet that looks more like iOS. Just an idea.

[2017-03-10 03:35] brodybits opened #55 "PopupMenu for Windows"
As discussed in #32 this plugin does not seem to work on Windows 8.1 or Windows 10 UWP. I think the most "native" solution for Windows 10 is to use `Windows.UI.Popups.PopupMenu` as documented in <https://docs.microsoft.com/en-us/uwp/api/windows.ui.popups.popupmenu>. (I am not sure about Windows 8.1 or Windows Phone 8.1. I not recommend actively supporting these platforms.)

I made <https://github.

[2017-03-10 03:36] brodybits commented on #32
I just raised #55 to use PopupMenu on Windows.

[2017-04-07 23:07] rafialikhan opened #58 "xcode build warning - Implicit conversion loses integer precision"
This is not an issue, but something to correct to avoid build warnings.

In ActionSheet.m

Line39: buttonIndex = j + 1;

`/xxxx/Plugins/cordova-plugin-actionsheet/ActionSheet.m:39:82: Implicit conversion loses integer precision: 'unsigned long' to 'int'`

[2017-04-18 17:41] andreszs opened #59 "Themes deprecated by Android API 23"
According to [this article](https://developer.android.com/reference/android/app/AlertDialog.html), THEME_DEVICE_DEFAULT_LIGHT and the entire family of THEME constants have been **deprecated by API 23**. I'm afraid that this problem could **crash the plugin** when building with future API versions, is there a way to be prepared for this? Thanks.

[2017-05-03 10:14] pke opened #60 "Support easy dismiss instead of Cancel button"
Is "easy dismiss" a UX pattern in iOS? It is in Windows and Android. So I wonder if it would be possible to add easy dimiss to this plugin.
What is easy dismiss? Its when you tap outside the alert/action sheet it closes it.

[2017-05-23 02:09] tuanbs commented on #48
I have the same issue. I added base.js and ui.js as @desarrollospyro suggested but no luck. Please help.

[2017-07-04 13:49] danielpawel opened #61 "Can't share the photo on IOS"
Hi,

I have used the plugin but I can't share the photo on the IOS, but the android is working just fine!

The is any one with this issue to?

[2017-07-04 13:49] EddyVerbruggen commented on #61
What photo?

[2017-07-05 00:35] danielpawel commented on #61
Hi!!

I just realize that I post on the wrong github!! I just posted on the right on! (send me your paypal 👍 )

The plugin: https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin

The issue:

I click on share (on the image), works fine on android. (whatsapp, facebook...)
But when we do it on IOS, it only shares the message, not the image. Even in whatsApp,

Some details:
- We are using io

[2017-11-14 09:18] bras1223 opened #63 "Failed to fetch the plugin"
Getting this error while trying to add the plugin:
`Failed to restore plugin "cordova-plugin-actionsheet" from config.xml. You might need to try adding it again. Error: Failed to fetch plugin cordova-plugin-actionsheet@git+https://github.com/EddyVerbruggen/cordova-plugin-actionsheet.git via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection a

[2017-11-14 09:21] bras1223 commented on #63
Sorry, getting this error with every plugin I try to add right now.
Will try to sort it out.

[2017-11-14 09:21] #63 closed, assigned to nobody

[2017-11-29 22:57] aabde commented on #48
🆙
Same issue
base.js and ui.js added in index.html but still

[2018-02-01 10:47] MaxInMoon commented on #61
should close issue no?

[2018-02-01 10:48] MaxInMoon commented on #60
it would be sweet to have this from an optional option :)

[2018-02-05 22:25] paulequilibrio opened #64 "Radio list option"
First of all, thanks for this great plugin!

Would it be possible to add something as shown in these images?

[Confirmation dialogs 1](https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bzhp5Z4wHba3T29XaVRQa0QxZkk/components-dialogs-1.png)

[Confirmation dialogs 2](https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bzhp5Z4wHba3aXcyajZDN29jS1k/com

[2018-02-08 19:25] EddyVerbruggen commented on #64
Nope, as that's not supported by all platforms this plugin is intended for. Perhaps some other plugin would be capable of doing this.

[2018-02-08 19:25] #64 closed, assigned to nobody

[2018-02-10 02:38] paulequilibrio commented on #64
I understand, thank you very much for the answer.
Again, thank you for this great plugin!

[2018-02-27 20:55] ndcunningham commented on #48
same issue as well.
+1

[2018-03-18 15:07] lammie1971 commented on #40
How can I get the action sheet to work in iOS?

[2018-03-26 18:59] lammie1971 opened #66 "Phonegap Build - I can't get cordova-plugin-actionsheet working."
I have tried to install the Cordova-plugin-actionsheet into my Phonegap Build project but nothing happens.

My config.xml file is:

[config.xml.zip](https://github.com/EddyVerbruggen/cordova-plugin-actionsheet/files/1849136/config.xml.zip

And my index.html file is:

[index.html.zip](https://github.com/EddyVerbruggen/cordova-plugin-actionsheet/files/1849148/index.html.zip)

Can anyone help me plea

[2018-03-27 18:25] lkrubner opened #67 "Failed to install 'cordova-plugin-actionsheet': Error: Uh oh!"
If I do this:

     cordova plugin add cordova-plugin-actionsheet

I get:

    cordova plugin add cordova-plugin-actionsheet
    Installing "cordova-plugin-actionsheet" for android
    Error during processing of action! Attempting to revert...
    Failed to install 'cordova-plugin-actionsheet': Error: Uh oh!
    ENOENT: no such file or directory, open '/Users/lkrubner/projects/chet/peero.mobile-de

[2018-04-24 12:32] YvesAmmann opened #68 "Change the text color in iOS"
Hello

First of all: Many many thanks for this plugin!

My Question: Is it possible, to change the text color in iOS?
I wish to change the default blue in another color.

Thanks in advance!

[2018-04-24 12:41] EddyVerbruggen commented on #68
I don't think the native SDK allows that. But feel free to reopen if you can find a way by Googling.

[2018-04-24 12:41] #68 closed, assigned to nobody

[2018-07-02 07:59] JoxC commented on #59
Before any update of the code, you can directly use the int value of the theme, f.g. 0x010302d2 for Theme_DeviceDefault_Light_Dialog_Alert

[2018-12-14 00:30] inexuscore commented on #33
I still have this issue. using cordova-plugin-file-transfer v1.7.0 on an Ionic v1 project. everything works flawlessly when targeting my local dev machine, but when I target our remote production server, file uploads complete, but then crash the app unexpectedly. any ideas?

[2020-05-19 16:25] YvesAmmann opened #70 "Prevent dismiss outside the ActionSheet (on iPad)"
If an user taps outside the ActionSheet (Popover) on iPad, the callback isn’t fired.
Is it possible to fire always the callback or can I read the current status of the popover?

Thanx in advance!

[2020-07-21 17:34] Seanmclem opened #71 "No Cancel Button on iPad"
Using the examples from the Readme, on an iPad
iOS: 13.5
using a config option like `addCancelButtonWithLabel: 'Cancel',`
I don't see any separated cancel button with my other buttons. There's no cancel button at all.
Using the default position, or a manual override like `position: [20, 40],` makes no difference. Still no cancel button.
Maybe this has to do with the default position updates for iP

[2020-07-21 18:00] EddyVerbruggen commented on #71
Maybe it never was there, can’t remember.

Because on ipad you can cancel by tapping anywhere outside that popover.

[2020-07-21 20:14] Seanmclem commented on #71
It does seem to be the case that this is omitted by default on iPad in general, while still present on iPhone. Closing then...
Thanks!

[2020-07-21 20:14] #71 closed, assigned to nobody

[2020-08-11 20:57] derek90 opened #72 "Improvement - Consider dinamically option changes"
Right now, when you want to know what option was selected, you just have the index of it. If you need to remove or add options dinamically, checking some conditions before showing the component, you will need to repeat those conditions to know what the user picked up, because the index of the button won't be enough. An improvement for this could be that the result of the user interaction be wrappe

[2021-04-02 23:18] Nathan187 commented on #67
did you every figure this out?  what the problem was?

[2021-07-03 01:03] lkrubner commented on #67
I never figured it out. I did keep updating XCode, all plugins, the OS, etc, and eventually something worked. I think I tried some other commands.